.game_links:link, .game_links:visited {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 50px;
    margin: auto;
    opacity: 1;
    background-color: black;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
}

.game_links:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.game_link_button {
    text-align: center;
}
