.parallax {
    background-image: url("taustapilt");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    width: 600px;
    height: 500px;
}

.title {
    font-family: 'Verdana';
    font-size: 150px;
    text-align: center
}

